

html, body, wrapper {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: rgb(251,243,225);
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: none;
    min-height: 416px;
}

body > #wrapper {height: auto; min-height: 100%;}

a:link, a:visited {
    color: #dc7e56;
    text-decoration: none;
}

a:hover, a:active {
    color: #76b43a;
    text-decoration: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Menu
-----------------------------------------------------------------------------*/

.menu, .menu li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu li {
    float: left;
}

/* Header
-----------------------------------------------------------------------------*/

#header {
    background: url(../images/mobile/header.png) repeat-x top;
    border-bottom: 1px solid rgb(125,72,48);
    height: 60px;
    position: relative;
}

#header h1 {
    background: url(../images/mobile/h1.png) no-repeat top;
    margin: 0;
    padding: 0;
    margin-left: -75px;
    width: 150px;
    height: 43px;
    position: absolute;
    top: 12px;
    left: 50%;
    text-indent: -9999em;
}

/* Container
-----------------------------------------------------------------------------*/

#container {
    margin-top: 30px;
    padding: 0 10px 30px;
}

.section {
    background: #fff;
    padding: 10px;
    -webkit-border-radius: 6px;
}

/* Form
-----------------------------------------------------------------------------*/

.login {
    margin-bottom: 25px;
}

.login label {
    display: block;
}

.login .text {
    width: 94%;
}

.field {
    margin: 0 0 4px;
}

label {
    color: #666;
}

form .text {
    background: rgb(251,255,237) url(../images/mobile/shadow.png) repeat-x top;
    border: 1px solid #ccc;
    height: 28px;
    line-height: 28px;
    -webkit-border-radius: 4px;
    font-size: 16px;
}

button.submit {
    background: url(../images/mobile/submit.png) repeat-x top;
    border: 1px solid rgb(137,68,40);
    width: 100%;
    height: 36px;
    line-height: 36px;
    -webkit-border-radius: 4px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px -1px 0px rgb(109,56,33);
    margin-top: 10px;
}

button.submit:hover {
    background: url(../images/mobile/submit.png) repeat-x bottom;
}

/* Help
-----------------------------------------------------------------------------*/

.help {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.help a {
    display: inline-block;
    background: url(../images/mobile/icon-help.png) no-repeat top;
    padding-top: 35px;
}

/* Footer
-----------------------------------------------------------------------------*/

#footer {
    position: relative;
    margin-top: -30px; /* negative value of footer height */
    height: 30px;
    font-size: 12px;
    text-align: center;
}

#footer a {
    color: rgb(179,164,128);
    padding: 0 5px;
}

#footer a:hover {
    color: rgb(161,127,46);
}
