<h1>All Followers</h1>

<table class='table'>
  <thead>
    <tr>
      <th>login</th>
      <th>relation</th>
      <th>function</th>
    </tr>
  </thead>
  <tbody>
    <% @followers.each do |follower| -%> 
      <tr>
        <td><%= follower.login %></td>
        <td><%= follower.position(@group) %></td>
        <td>
          <%= link_to("prove", prove_group_user_path(@group, follower)) if follower.unprove?(@group) %>
          <%= link_to("remove", group_user_path(@group, follower), :method => :delete) unless follower.manager?(@group) %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
