

html, body, #wrapper {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: rgb(251,243,225);
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: none;
    min-height: 416px;
}

body > #wrapper {height: auto; min-height: 100%;}

a:link, a:visited {
    color: #dc7e56;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: #76b43a;
    text-decoration: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Menu
-----------------------------------------------------------------------------*/

.menu, .menu li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Header
-----------------------------------------------------------------------------*/

#header {
    background: url(../images/mobile/header.png) repeat-x top;
    border-bottom: 1px solid rgb(125,72,48);
    height: 60px;
    position: relative;
    margin-bottom: 30px;
}

#header h1 {
    background: url(../images/mobile/h1.png) no-repeat top;
    margin: 0;
    padding: 0;
    margin-left: -75px;
    width: 150px;
    height: 43px;
    position: absolute;
    top: 12px;
    left: 50%;
    text-indent: -9999em;
}

#header .button {
    position: absolute;
    top: 13px;
    padding: 0;
    max-width: 60px;
    height: 31px;
    font-size: 15px;
    line-height: 29px;
    color: #fff;
    text-shadow: 0px -1px 0px rgb(55,26,14);
}

#header .logout {
    right: 10px;
    border-width: 0 10px 0 10px;
    -webkit-border-image: url(../images/mobile/button.png) 0 10 0 10;
}

#header .back-button {
    left: 10px;
    border-width: 0 10px 0 15px;
    -webkit-border-image: url(../images/mobile/back-button.png) 0 10 0 15;
}

#header .next-button {
    right: 10px;
    border-width: 0 15px 0 10px;
    -webkit-border-image: url(../images/mobile/next-button.png) 0 15 0 10;
}

/* Container
-----------------------------------------------------------------------------*/

#container {
    padding: 0 10px 20px;
}

.section {
    background: #fff;
    padding: 10px;
    -webkit-border-radius: 6px;
}

.section.account {
    padding: 10px 5px;
}

.angle-left {
    background: #fff;
    -webkit-border-top-left-radius: 0;
}

/* Form
-----------------------------------------------------------------------------*/

.login {
    margin-bottom: 25px;
}

.login label {
    display: block;
}

.login .text {
    width: 94%;
}

.field {
    margin: 0 0 4px;
}

.expense .field {
    margin: 0 0 10px;
}

label {
    color: #666;
}

.expense label {
    display: inline-block;
    width: 70px;
}

select {
    font-size: 15px;
    width: 165px; 
}

.text {
    background: rgb(251,255,237) url(../images/mobile/shadow.png) repeat-x top;
    border: 1px solid #ccc;
    height: 28px;
    line-height: 28px;
    -webkit-border-radius: 4px;
    font-size: 16px;
}

.submit {
    background: url(../images/mobile/submit.png) repeat-x top;
    border: 1px solid rgb(137,68,40);
    width: 100%;
    height: 36px;
    line-height: 36px;
    -webkit-border-radius: 4px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px -1px 0px rgb(109,56,33);
    margin-top: 10px;
}

.submit:active {
    background: url(../images/mobile/submit.png) repeat-x bottom;
}

/* Help
-----------------------------------------------------------------------------*/

.help {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.help a {
    display: inline-block;
    background: url(../images/mobile/icon-help.png) no-repeat top;
    padding-top: 35px;
}

/* List
-----------------------------------------------------------------------------*/

h3 {
    margin: 0;
}

.list li {
    margin-bottom: 2px;
}

.list li a {
    display: block;
    background: #fff url(../images/mobile/arrow.png) right center no-repeat;
    padding: 8px 10px;
    -webkit-border-radius: 6px;
    color: #333;
}

.list li a:active {
    background: #f4fdc7 url(../images/mobile/arrow.png) right center no-repeat;
}

/* Expense
-----------------------------------------------------------------------------*/

.hd {
    position: relative;
}

.hd span {
    position: absolute;
    top: 4px;
    right: 0;
    color: #999;
    font-size: 15px;
}

/* Calendar
-----------------------------------------------------------------------------*/

table.calendar, .calendar td, .calendar th {
    border: 0;
    padding: 0;
}

table.calendar {
	border-collapse: separate;
	border: 1px solid #bdae8a;
	border-width: 0px 0px 1px 1px;
	margin: 10px auto;
	font-size: 15px;
}
.calendar td, .calendar th {
	width: 45px;
	height: 44px;
	text-align: center;
	vertical-align: middle;
	background: url(../images/mobile/cells.png);
	color: #333;
	position: relative;
}
.calendar th {
	height: 24px;
	font-weight: bold;
	font-size: 12px;
    color: #988a68;
}
.calendar td:hover, .calendar th:hover {
	background-position: 0px -44px;
	color: #222;
}
.calendar td.date_has_event {
	background-position: 90px 0px;
	color: white;
}
.calendar td.date_has_event:hover {
	background-position: 90px -44px;
}
.calendar td.padding {
	background: url(../images/mobile/calpad.png);
}
.calendar td.today {
	background-position: 45px 0px;
	color: white;
}
.calendar td.today:hover {
	background-position: 45px -44px;
}
.calendar .events {
	position: relative;
}
.calendar .events ul {
	text-align: left;
	position: absolute;
	display: none;
	z-index: 1000;
	padding: 15px;
	background: #E7ECF2 url(../images/mobile/popup.png) no-repeat;
	color: white;
	border: 1px solid white;
	font-size: 15px;
	width: 200px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	-border-radius: 3px;
	list-style: none;
	color: #444444;
	-webkit-box-shadow: 0px 8px 8px #333;
}
.calendar .events li {
	padding-bottom: 5px;
}
.calendar .events li span {
	display: block;
	font-size: 12px;
	text-align: justify;
	color: #555;
}
.calendar .events li span.title {
	font-weight: bold;
	color: #222;
}

/* Report
-----------------------------------------------------------------------------*/

#date {
    background: rgb(189,174,138);
    border-bottom: 1px solid rgb(158,143,105);
    padding: 7px 10px;
    margin: -30px 0 20px;
}

#date .text {
    width: 28%;
    height: 24px;
    line-height: 24px;
}

#date span {
    display: inline-block;
    width: 8%;
    text-align: center;
    font-weight: bold;
    color: rgb(246,236,212);
    text-shadow: 0px -1px 0px rgb(161,144,102);
}

.tabs li {
    float: left;
    margin-right: 3px;    
}

.tabs li a {
    float: left;
    display: block;
    background: #e1835a;
    padding: 0 8px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
}

.tabs li.current a {
    background: #fff;
    color: #000;
}

.section table {
    width: 100%;
}

.section table, .section td, section th {
    border: 0;
    padding: 0;
}

.section td {
    padding: 2px 6px;
}

tr:nth-child(2n+1) {
    background-color: #fff;
}

tr:nth-child(2n) {
    background-color: #f0f8ff;
}

.section th {
    background-color: #d9ecbd;
    text-align: left;
    padding: 0 6px;
    border-bottom: 1px solid #c3d8a5;
}

.section .amount {
    text-align: right;
}

/* Footer
-----------------------------------------------------------------------------*/
/*
#footer {
    position: relative;
    margin-top: -30px; 
    height: 30px;
    font-size: 12px;
    text-align: center;
}
*/
#footer {
    height: 30px;
    font-size: 12px;
    text-align: center;
}

#footer a {
    color: rgb(179,164,128);
    padding: 0 5px;
}

#footer a:hover {
    color: rgb(161,127,46);
}
