<div class="block">
  <div class="content clearfix">
    <h2>Listing groups</h2>
    <div class="inner grid_10 alpha">
      <table class ='table'>
        <tr>
          <th>Name</th>
          <th>Short name</th>
          <th>Function</th>
        </tr>

        <% @groups.each do |group| %>
          <tr>
            <td><%=h group.name %></td>
            <td><%=h group.short_name %></td>
            <td>
              <%= render_list :class => 'menu' do |list|
              list << link_to('Show', group)
              list << link_to('Edit', edit_group_path(group)) if @current_user.manager?(group) 
              list << link_to('Destroy', group, :confirm => 'Are you sure?', :method => :delete) if @current_user.manager?(group) 
              end -%>
            </td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>

<br />

<%= link_to 'New group', new_group_path %>
