<div class="block">
  <div class="content clearfix">
    <h2><%= t('group.new') -%></h2>
    <div class="inner">
      <% handicraft_form_for(@group, :html =>{:class => :form}) do |f| %>
        <%= render :partial => 'form', :locals => {:f =>f} %>
        <%= f.submit t('create') %>
      <% end %>
    </div>
  </div>
</div>

