<p><%= f.text_field :email, :label => User.human_attribute_name(:email) %></p>
<p><%= f.password_field :password, :label => User.human_attribute_name(:password) %></p>
<p><%= f.password_field :password_confirmation, :label => User.human_attribute_name(:password_confirmation) %></p>

