<% content_for :box do -%>
  <div class="block" id="block-login">
    <h2><%= t(:signup_title) %></h2>
    <% @user.password = @user.password_confirmation = nil %>
    
    <div class="content login">
      <%= error_messages_for :user %>
      <% handicraft_form_for :user, :url => users_path do |f| -%>
        <%= render :partial => 'form', :locals => { :f => f } %>
        <p><%= submit_tag t(:signup) %></p>
      <% end -%>
    </div>
  </div>
<% end -%>
