<%= render :partial => 'groups' %>

<div class="block">
  <div class="content clearfix">
    <h2><%= t("welcome.new_expenses")%></h2>

    <div id = 'tabs'>
      <%= render_list [
        link_to(t("welcome.joined_groups"), "/welcome/joined_groups"),
        link_to(t("welcome.managed_groups"), "/welcome/managed"),
        link_to(t("welcome.my"), "/welcome/my")
      ], :class => 'menu' -%>
    </div>
  </div>
</div>

<% content_for :page_specific_javascript do-%>
  <%= javascript_include_tag 'jquery.cookie',
                             'jquery-ui/jquery.ui.widget',
                             'jquery-ui/jquery.ui.tabs',
                             :cache => 'all' %>

  <script type="text/javascript">
    $(function(){
      $("#tabs").tabs({
        ajaxOptions: {
          error: function(xhr, status, index, anchor) {
            $(anchor.hash).html("Couldn't load this tab. We'll try to fix this as soon as possible.");
          }
        }
      });
    });
  </script>
<% end -%>
