<% content_for :header_link -%>
  link_to Group.human_name, group_path(@group)
  <a href="#" class="button next-button">報表</a>
<% end -%>
<div id="date">
    <input name="" type="text" class="text">
    <span>TO</span>
    <input name="" type="text" class="text">
</div>
<div id="container">
    <h3>細帳</h3>
    <div class="section account">
        <table>
            <thead>
                <tr>
                    <th colspan="3">2010-03-09</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>hlb</td>
                    <td>交通</td>
                    <td class="amount">3000</td>
                </tr>
                <tr>
                    <td>gugod</td>
                    <td>伙食</td>
                    <td class="amount">3000</td>
                </tr>
                <tr>
                    <td>hlb</td>
                    <td>交通</td>
                    <td class="amount">3000</td>
                </tr>
                <tr>
                    <td>weijen</td>
                    <td>交通</td>
                    <td class="amount">3000</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th colspan="3">2010-03-02</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>hlb</td>
                    <td>交通</td>
                    <td class="amount">3000</td>
                </tr>
                <tr>
                    <td>gugod</td>
                    <td>伙食</td>
                    <td class="amount">3000</td>
                </tr>
                <tr>
                    <td>hlb</td>
                    <td>交通</td>
                    <td class="amount">3000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="footer">
    <a href="#">公司網站</a>
    <a href="#">聯絡我們</a>
</div>
</body>
</html>
