<div class="block">
  <div class="content clearfix">
    <h2><%=h @group.name + ":" + t("expenses.add_outgoing_expense")%></h2>
    <div class="inner">
      <% handicraft_form_for([@group,@expense]) do |f| %>
        <%= render :partial => 'form', :locals => { :f => f, :kind => @kind, :tags => @tags }%>
        <div class="group navform">
          <%= f.submit t('create') %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to t("group.show", :group => @group.name), group_path(@group) %>

