<div class="block">
  <div class="content clearfix">
    <h2>Group: <%= @group.name %> New expense</h2>
    <div class="inner">
      <% handicraft_form_for([@group,@expense]) do |f| %>
        <%= render :partial => 'form', :locals => { :f => f }%>
        <div class="group navform">
          <%= f.submit 'Create' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

