<div class="block">
  <div class="content clearfix">
    <h2><%= t("tags.new") %></h2>
    <div class="inner">
      <% handicraft_form_for(@tag) do |f| %>
        <%= render :partial => 'form', :locals => { :f => f }%>
        <div class="group navform">
          <%= f.submit t(:create) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br />
