<div class="block">
  <div class="content clearfix">
    <h2><%= t("expenses.edit") %></h2>
    <%= link_to t(:show), @expense, :class => 'back-button' %>
    <div class="inner">
      <% handicraft_form_for(@expense) do |f| %>
        <%= render :partial => 'form', :locals => { :f => f, :groups => @groups, :tags => @tags, :kind => @kind }%>
        <%= f.submit 'Update', :id => 'confirm-button' %>
      <% end %>
    </div>
  </div>
</div>


