<h1>New expense</h1>

<% handicraft_form_for(@expense) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f }%>
  <p><%= f.submit 'Create' %></p>
<% end %>

<%= link_to 'Back', expenses_path %>
