<div id="main-navigation" class="nav clearfix">

  <%= render_list [ 
    link_to("Home", "/"),
    link_to("Groups", groups_path),
    link_to("NewExpense", new_expense_path)
  ], :class => 'menu' -%>

</div>                  
