<div class="nav">
    <ul>
        <li><a href="#" onclick="Theme.kuler(); return false;">Kuler</a></li>
        <li><a href="#" onclick="Theme.prompt_custom(); return false;">Custom</a></li>
        <li><a href="#" onclick="Theme.activate('blue'); return false;">Blue</a></li>
        <li><a href="#" onclick="Theme.activate('gray'); return false;">Gray</a></li>
        <li><a href="#" onclick="Theme.activate('red'); return false;">Red</a></li>
        <li><a href="#" onclick="Theme.activate('aqua'); return false;">Aqua</a></li>
    </ul>
</div>